{% extends "base.html" %}

{% block app_content %}
    <div class="row p-4">
        <div class="col-md-3">
            <div class="card ">
                <div class="card-body d-flex justify-content-around py-6">
                    <a href="{{ url_for("adventure.play") }}" class="btn btn-primary btn-rounded">
                        <i class="fas fa-play  me-2 "></i> Play
                    </a>
                    <a href="{{ url_for("adventure.seasons_create") }}" class="btn btn-success btn-rounded">
                        <i class="fas fa-plus  me-2 "></i> Season
                    </a>
                </div>
                <div class="card-body d-flex justify-content-around py-6">
                    <a href="{{ url_for("adventure.view_season", season=season, round_number=1) }}"
                       class="btn btn-primary btn-floating">
                        <i class="fas fa-angle-double-left "></i>
                    </a>
                    <a href="{{ url_for("adventure.view_season", season=season, round_number=round - 1) }}"
                       class="btn btn-primary btn-floating">
                        <i class="fas fa-angle-left "></i>
                    </a>
                    <p class="fw-bold text-muted small text-uppercase mb-1">Rounds</p>
                    <a href="{{ url_for('adventure.view_season', season=season, round_number=round + 1) }}"
                       class="btn btn-primary btn-floating">
                        <i class="fas fa-angle-right "></i>
                    </a>
                    <a href="{{ url_for("adventure.view_last_round") }}"
                       class="btn btn-primary btn-floating">
                        <i class="fas fa-angle-double-right "></i>
                    </a>
                </div>

                <div class="card-body pb-2">
                    <p class="fw-bold text-muted small text-uppercase mb-1">My Score</p>
                    <p class="fw-bold h1 mb-1">{{ score }}</p>
                    <p class="text-muted mb-0">In this round: {{ score_in_this_round }}</p>
                </div>

                <div class="card-body d-flex justify-content-around ">
                    <span>
                        <i class="fas fa-futbol me-2 text-muted"></i>
                        <strong class="me-1 text-muted">Round {{ round }}</strong>
                    </span>
                    <span>
                        <i class="fas fa-hand-peace me-2 text-muted"></i>
                        <strong class="me-1 text-muted">Match {{ match_number - 1 }} of {{ total_matches }}</strong>
                    </span>
                    <span>
                        <i class="fas fa-male me-2 text-muted"></i>
                        <strong class="me-1 text-muted">{{ size }}</strong>
                    </span>
                </div>
                <hr class="hr mb-2">
                <div class="card-body bg-light">
                    <p class="text-uppercase text-muted small fw-bold">Opponent</p>
                    <div class="d-flex align-items-center">
                        <div class="flex-shrink-0">
                            <i class="fas fa-female fa-2x me-2 text-muted"></i>
                        </div>
                        <div class="flex-grow-1 ms-3">
                            <p class="fw-bold mb-1">{{ opponent_fullname }} ({{ opponent_group_rank }})</p>
                            <p class="text-muted mb-0">Score {{ opponent_score }}</p>
                        </div>
                    </div>
                    <hr class="hr mb-4">

                    {% if proximity %}
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <ul class="nav nav-tabs nav-justified mb-3" role="tablist">
                {% if proximity %}
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="tab-nav-proximity" data-mdb-toggle="tab"
                                data-mdb-target="#tab-pane-proximity" type="button" role="tab">
                            Proximity
                        </button>
                    </li>
                {% endif %}
                <li class="nav-item" role="presentation">
                    <button class="nav-link {% if not proximity %} active {% endif %}" id="tab-nav-adventurers"
                            data-mdb-toggle="tab" data-mdb-target="#tab-pane-adventurers" type="button" role="tab">
                        Adventurers
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="tab-nav-opponents" data-mdb-toggle="tab"
                            data-mdb-target="#tab-pane-opponents" type="button" role="tab">
                        Opponents
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="tab-nav-acquired" data-mdb-toggle="tab"
                            data-mdb-target="#tab-pane-acquired" type="button" role="tab">
                        Acquired
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="tab-nav-released" data-mdb-toggle="tab"
                            data-mdb-target="#tab-pane-released" type="button" role="tab">
                        Released
                    </button>
                </li>
            </ul>
            <div class="tab-content">
                {% if proximity %}
                    <div class="tab-pane fade show active" id="tab-pane-proximity" role="tabpanel">
                        {% for opponent_batch in proximity|batch(6) %}
                            <div class="row">
                                {% for opponent in opponent_batch %}
                                    <div class="col-md-2">
                                        <div class="modal-body-preview">
                                            <img src="{{ opponent.url }}" class="img-fluid"
                                                 alt=" {{ opponent.fullname }} ({{ opponent.rank }})"
                                                 height="200"/>
                                            <div class="round-image-gradient"></div>
                                            <div class="preview-name-container small font-weight-bold text-white">
                                                {{ opponent.fullname }} = {{ opponent.proximity }}
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
                <div class="tab-pane fade {% if not proximity %}show active {% endif %}" id="tab-pane-adventurers"
                     role="tabpanel">
                    {% for player_batch in adventurers|batch(6) %}
                        <div class="row">
                            {% for player in player_batch %}
                                <div class="col-md-2">
                                    <div class="modal-body-preview">
                                        <img src="{{ player.url }}" class="img-fluid"
                                             alt=" {{ player.name }} ({{ player.rank }})"
                                             height="200"/>
                                        <div class="round-image-gradient"></div>
                                        <div class="preview-name-container small font-weight-bold text-white">
                                            {{ player.name }} ({{ player.rank }})
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>
                <div class="tab-pane fade" id="tab-pane-opponents" role="tabpanel">
                    {% for player_batch in opponents|batch(6) %}
                        <div class="row">
                            {% for player in player_batch %}
                                <div class="col-md-2">
                                    <div class="modal-body-preview">
                                        <img src="{{ player.url }}" class="img-fluid"
                                             alt=" {{ player.name }} ({{ player.rank }})"
                                             height="200"/>
                                        <div class="round-image-gradient"></div>
                                        <div class="preview-name-container small font-weight-bold text-white">
                                            {{ player.name }} ({{ player.rank }})
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>
                <div class="tab-pane fade" id="tab-pane-acquired" role="tabpanel">
                    {% for player_batch in acquired|batch(6) %}
                        <div class="row">
                            {% for player in player_batch %}
                                <div class="col-md-2">
                                    <div class="modal-body-preview">
                                        <img src="{{ player.url }}" class="img-fluid"
                                             alt=" {{ player.name }} ({{ player.rank }})"
                                             height="200"/>
                                        <div class="round-image-gradient"></div>
                                        <div class="preview-name-container small font-weight-bold text-white">
                                            {{ player.name }} ({{ player.rank }})
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>
                <div class="tab-pane fade" id="tab-pane-released" role="tabpanel">
                    {% for player_batch in released|batch(6) %}
                        <div class="row">
                            {% for player in player_batch %}
                                <div class="col-md-2">
                                    <div class="modal-body-preview">
                                        <img src="{{ player.url }}" class="img-fluid"
                                             alt=" {{ player.name }} ({{ player.rank }})"
                                             height="200"/>
                                        <div class="round-image-gradient"></div>
                                        <div class="preview-name-container small font-weight-bold text-white">
                                            {{ player.name }} ({{ player.rank }})
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}