{% extends "base.html" %}

{% block app_content %}
    <div class="row">
        <div class="col-md-9">
            <h3 class="mb-2 mt-2">{{ title }}</h3>
        </div>
    </div>
    <div class="row">

        <div class="col-md-9">
            {% for group_batch in groups|batch(6) %}
                <div class="row">
                    {% for group in group_batch %}
                        <div class="col-md-2 mt-1">
                            <div class="modal-body-preview">
                                <div class="btn-select-wrapper">
                                    <a href="{{ url_for('play_friendly', play_from='group'+group.name) }}"
                                       class="btn btn-primary btn-floating">
                                        <i class="fas fa-play"></i>
                                    </a>
                                </div>
                                <a href="{{ url_for('view_group', group_name=group.name) }}">
                                    <img src="{{ group.url }}"
                                         alt="{{ group.rank }} - {{ group.name }}- {{ group.score }}"
                                         class="img-fluid"/>
                                    <div class="round-image-gradient"></div>
                                    <div class="preview-name-container small font-weight-bold text-white">
                                        {{ group.rank }} - {{ group.name }}- {{ group.score }}
                                    </div>
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
        <div class="col-md-3">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">R#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Score</th>
                </tr>
                </thead>
                <tbody>
                {% for group in groups %}
                    <tr>
                        <td>{{ group.rank }}</td>
                        <td>{{ group.name }}</td>
                        <td>{{ group.score }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}


