{% extends "base.html" %}

{% block app_content %}
    <div class="row">
        <div class="col-md-3">
            <h3 class="mb-2 mt-2">Player Groups</h3>
        </div>
        <div class="col-md-3">
            <p class="lead mb-2 mt-2">Qualified: {{ qualified }}</p>
        </div>
        <div class="col-md-3">
            <p class="lead mb-2 mt-2">Pending: {{ pending }}</p>
        </div>
        <div class="col-md-3">
            <div class="input-group mt-2 mt-2">
                <!--suppress HtmlFormInputWithoutLabel -->
                <input type="text" class="form-control" id="searchInput" placeholder="Search"/>
                <button class="btn btn-primary" id="searchButton" type="button">
                    <i class="fa fa-search"></i>
                </button>
            </div>
        </div>
    </div>
    <!-- Section DataTable -->
    <div id="dtb" class="datatable" data-mdb-fixed-header="true" data-mdb-max-height="850" data-mdb-pagination="false"
         data-mdb-hover="true">
        <table data-mdb>
            <thead>
            <tr>
                <th class="th-sm">#</th>
                <th class="th-sm">Name</th>
                <th class="th-sm" data-mdb-sort="false">Image</th>
                <th class="th-sm">Players</th>
                <th class="th-sm">Qualified</th>
                <th class="th-sm">Locked</th>
                <th class="th-sm">Rank</th>
                <th class="th-sm">Average</th>
                <th class="th-sm">Action</th>
            </tr>
            </thead>
            <tbody>
            {% for group in groups %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ group.fullname }} ({{ group.name }})</td>
                    <td>
                        <img src="{{ group.url }}" alt="{{ group.player_name }}" class="rounded-9" width="100"
                             data-mdb-toggle="modal" data-mdb-target="#imageModal" data-ci-group-id="{{ group.id }}">
                    </td>
                    <td>{{ group.player_count_str }}</td>
                    <td>{{ group.qualified_player_count_str }}</td>
                    <td>{{ group.locked_str }}</td>
                    <td>{{ group.group_rank_str }}</td>
                    <td>{{ group.rank_average_str }}</td>
                    <td>
                        <a href="{{ url_for('players_in_a_group', group_id=group.id) }}"
                           class="btn btn-primary btn-floating btn-lg">
                            <i class="fas fa-folder-open"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Section Modal -->
    <div class="modal fade" id="imageModal" tabindex="-1">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="btn-close-wrapper">
                    <button type="button" class="btn-modal-close btn-close" data-mdb-dismiss="modal"></button>
                </div>
                <div class="modal-body p-0">
                    <div class="modal-body-preview">
                        <img src="" alt="No Image" class="w-100"/>
                        <div class="modal-image-gradient"></div>
                        <div class="preview-btn-container">
                            <a class="btn btn-primary" id="openGroupModal" href="#">
                                <span id="modalGroupId" class="invisible"></span>
                                <i class="fas fa-folder-open me-2"></i>
                                Open
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <!--suppress JSUnresolvedVariable -->
    <script>
        document.getElementById("searchButton").addEventListener("click", () => {
            const searchValue = document.getElementById("searchInput").value;
            mdb.Datatable.getInstance(document.getElementById("dtb")).search(searchValue);
        });
        document.getElementById("searchInput").addEventListener("keydown", (e) => {
            if (e.key === "Enter") {
                const searchValue = document.getElementById("searchInput").value;
                mdb.Datatable.getInstance(document.getElementById("dtb")).search(searchValue);
            }
        });
        document.getElementById("imageModal").addEventListener("show.bs.modal", (e) => {
            const img = e.relatedTarget;
            if (img.src) {
                e.target.querySelector("img").src = img.src;
            }
            const openButton = document.getElementById("openGroupModal");
            openButton.href = "{{ url_for('players_in_a_group', group_id='group_id_placeholder') }}";
            openButton.href = openButton.href.replace("group_id_placeholder", img.dataset.ciGroupId);
        });
    </script>
{% endblock %}