{% extends "base.html" %}

{% block app_content %}
    <div class="row">
        <div class="col-md-8">
            <h3 class="mb-2 mt-2">{{ title }}</h3>
        </div>
        <div class="col-md-3 mt-3">
            <form id="lockForm" method="POST" novalidate>
                {{ form.csrf_token() }}
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="{{ form.locked.id }}"
                           name="{{ form.locked.name }}" value="y"
                            {% if group.qualification_locked %} checked {% endif %}
                            {% if group.qualified_player_count != 9 %} disabled {% endif %}
                    />
                    <label class="form-check-label" for="{{ form.locked.id }}">
                        {% if group.qualification_locked %}
                            Locked
                        {% else %}
                            {% if group.qualified_player_count == 9 %}
                                Unlocked - Ready to Lock
                            {% else %}
                                Unlocked - Select exactly 9 players to lock
                            {% endif %}
                        {% endif %}
                    </label>
                </div>
                {% for error in form.locked.errors %}
                    <p class="small note note-danger">{{ error }}</p>
                {% endfor %}
            </form>
        </div>
        <div class="col-md-1 mt-2 text-end">
            <a href="{{ url_for('view_player_groups') }}" class="btn btn-light btn-floating">
                <i class="fas fa-times fa-2x"></i>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <h4 class="mb-2 mt-2">Playing IX</h4>
        </div>
        <div class="col-md-4">
            <form id="removeForm" method="POST" novalidate>
                {{ form.csrf_token() }}
                {{ form.removed_player_id() }}
            </form>
            {% for error in form.removed_player_id.errors %}
                <p class="small note note-danger">{{ error }}</p>
            {% endfor %}
        </div>
    </div>
    <div class="lightbox">
        {% for player_batch in playingIX|batch(6) %}
            <div class="row">
                {% for player in player_batch %}
                    <div class="col-md-2 mt-2">
                        <div class="modal-content">
                            {% if not group.qualification_locked %}
                                <div class="btn-select-wrapper">
                                    <button onclick="removePlayer('{{ player.id }}')"
                                            type="button" class="btn btn-floating btn-outline-danger">
                                        <i class="fas fa-times fa-2x"></i>
                                    </button>
                                </div>
                            {% endif %}
                            <div class="modal-body-preview">
                                <img src="{{ player.url }}" data-mdb-img="{{ player.url }}" class="w-100"
                                     alt="{{ player.name }} - {{ player.qualification_rank }} - {{ player.league }} - {{ player.league_rank }}">
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
    <hr>
    <div class="row">
        <div class="col-md-8">
            <h4 class="mb-2 mt-2">Candidates</h4>
        </div>
        <div class="col-md-4">
            <form id="addForm" method="POST" novalidate>
                {{ form.csrf_token() }}
                {{ form.added_player_id() }}
            </form>
            {% for error in form.added_player_id.errors %}
                <p class="small note note-danger">{{ error }}</p>
            {% endfor %}
        </div>
    </div>
    <div class="lightbox">
        {% for player_batch in candidates|batch(6) %}
            <div class="row">
                {% for player in player_batch %}
                    <div class="col-md-2 mt-2">
                        <div class="modal-content">
                            {% if not group.qualification_locked and group.qualified_player_count < 9 %}
                                <div class="btn-select-wrapper">
                                    <button onclick="addPlayer('{{ player.id }}')"
                                            type="button" class="btn btn-lg btn-outline-success btn-floating">
                                        <i class="fas fa-check"></i>
                                    </button>
                                </div>
                            {% endif %}
                            <div class="modal-body-preview">
                                <img src="{{ player.url }}" data-mdb-img="{{ player.url }}" class="w-100"
                                     alt="{{ player.name }} - {{ player.qualification_rank }} - {{ player.league }} - {{ player.league_rank }}">
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>

{% endblock %}

{% block scripts %}
    {{ super() }}
    <!--suppress JSUnresolvedVariable -->
    <script>
        removePlayer = (playerId) => {
            const form = document.forms["removeForm"];
            form.removed_player_id.value = playerId;
            form.submit();
        }
        addPlayer = (playerId) => {
            const form = document.forms["addForm"];
            form.added_player_id.value = playerId;
            form.submit();
        }
        document.getElementById("{{ form.locked.id }}").addEventListener("change", () => {
            document.forms["lockForm"].submit();
        });
    </script>
{% endblock %}