{% extends "base.html" %}

{% block app_content %}
    <div class="row">
        <div class="col-md-9">
            <h3 class="mb-2 mt-2">
                {{ match_group.standing1.group_fullname }}
                ({{ match_group.standing1.total_score }}.{{ match_group.standing1.total_ties }})
                v {{ match_group.standing2.group_fullname }}
                ({{ match_group.standing2.total_score }}.{{ match_group.standing2.total_ties }})
            </h3>
        </div>
        <div class="col-md-3">
            <h2 class="mb-1 mt-1 text-center">
                {{ scores[0] }} - {{ scores[1] }}
            </h2>
        </div>
    </div>
    <form id="selectForm" method="POST" novalidate>
        {{ form.csrf_token() }}
        {{ form.winner }}
    </form>
    <div class="row mt-2">
        <div class="col-md-10">
            <div class="lightbox">
                <div class="row">
                    <div class="col-md">
                        <div class="modal-content">
                            <div class="btn-select-wrapper">
                                <button onclick="selectPlayer('{{ match_group.current_match.match.player1 }}')"
                                        type="button" class="btn btn-lg btn-success btn-floating">
                                    <i class="fas fa-check"></i>
                                </button>
                            </div>
                            <div class="modal-body-preview">
                                <img src="{{ match_group.current_match.player1.url }}"
                                     data-mdb-img="{{ match_group.current_match.player1.url }}"
                                     class="w-100"
                                     alt="{{ match_group.current_match.player1.name }}">
                            </div>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="modal-content">
                            <div class="btn-select-wrapper">
                                <button onclick="selectPlayer('{{ match_group.current_match.match.player2 }}')"
                                        type="button" class="btn btn-lg btn-success btn-floating">
                                    <i class="fas fa-check"></i>
                                </button>
                            </div>
                            <div class="modal-body-preview">
                                <img src="{{ match_group.current_match.player2.url }}"
                                     data-mdb-img="{{ match_group.current_match.player2.url }}"
                                     class="w-100"
                                     alt="{{ match_group.current_match.player2.name }}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            {% if match_group.past_matches %}
                <div class="lightbox">
                    {% for mp in match_group.past_matches %}
                        <div class="row mt-1">
                            <div class="col-md">
                                <div class="modal-body-preview">
                                    <img src="{{ mp.player1.url }}" alt="{{ mp.player1.name }}"
                                         class="w-75" data-mdb-img="{{ mp.player1.url }}">
                                    <div class="round-image-gradient"></div>
                                    <div class="preview-name-container small font-weight-bold text-white">
                                        {% if mp.match.winner == mp.player1.name %}
                                            <span class="badge rounded-pill bg-success ms-2">
                                                <i class="fas fa-sm fa-check"></i>
                                            </span>
                                        {% elif mp.match.loser == mp.player1.name %}
                                            <span class="badge rounded-pill bg-danger ms-2">
                                                <i class="fas fa-sm fa-times "></i>
                                            </span>
                                        {% endif %}
                                        {{ mp.player1.name }}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md">
                                <div class="modal-body-preview">
                                    <img src="{{ mp.player2.url }}" alt="{{ mp.player2.name }}"
                                         class="w-75" data-mdb-img="{{ mp.player2.url }}">
                                    <div class="round-image-gradient"></div>
                                    <div class="preview-name-container small font-weight-bold text-white">
                                        {% if mp.match.winner == mp.player2.name %}
                                            <span class="badge rounded-pill bg-success ms-2">
                                                <i class="fas fa-sm fa-check"></i>
                                            </span>
                                        {% elif mp.match.loser == mp.player2.name %}
                                            <span class="badge rounded-pill bg-danger ms-2">
                                                <i class="fas fa-sm fa-times "></i>
                                            </span>
                                        {% endif %}
                                        {{ mp.player2.name }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <p class="text-center small">No past matches</p>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <!--suppress JSUnresolvedVariable -->
    <script>
        selectPlayer = (playerName) => {
            const form = document.forms["selectForm"];
            form.winner.value = playerName;
            form.submit();
        }
    </script>
{% endblock %}