{% extends "base.html" %}

{% block app_content %}
    <div class="row">
        <div class="col-md-9">
            <h3 class="mb-2 mt-2">{{ title }}</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">R#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Pts</th>
                    <th scope="col">TB</th>
                </tr>
                </thead>
                <tbody>
                {% for standing in standings %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ standing.group_fullname }} ({{ standing.group_name }})</td>
                        <td>{{ standing.total_score }}</td>
                        <td>{{ standing.total_ties }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-md-9">
            {% for standing_batch in ranked_standings|batch(6) %}
                <div class="row">
                    {% for rank, standing in standing_batch %}
                        <div class="col-md-2 mt-1">
                            <div class="modal-body-preview">
                                <img src="{{ standing.url }}"
                                     alt="{{ standing.group_fullname }}"
                                     class="img-fluid"/>
                                <div class="round-image-gradient"></div>
                                <div class="preview-name-container small font-weight-bold text-white">
                                    {{ rank }} - {{ standing.group_fullname }}
                                    - {{ standing.total_score }}.{{ standing.total_ties }}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}


