{% extends "base.html" %}

{% block app_content %}
    <div class="lightbox">
        <div class="row">
            <div class="col-md pt-2 mt-2 ">
                <div class="modal-body-preview">
                    <img src="{{ series.get_current_match_player1_url(players) }}" class="img-fluid"
                         alt=" {{ series.current_match_player1_name }} ({{ series.current_match_player1_rank }})"/>
                    <div class="round-image-gradient"></div>
                    <div class="preview-name-container small font-weight-bold text-white">
                        {{ series.current_match_player1_name }} ({{ series.current_match_player1_rank }})
                    </div>
                </div>
            </div>
            <div class="col-md pt-2 mt-2">
                <div class="modal-body-preview">
                    <img src="{{ series.get_current_match_player2_url(players) }}" class="img-fluid"
                         alt="{{ series.current_match_player2_name }} ({{ series.current_match_player2_rank }})"/>
                    <div class="round-image-gradient"></div>
                    <div class="preview-name-container small font-weight-bold text-white">
                        {{ series.current_match_player2_name }} ({{ series.current_match_player2_rank }})
                    </div>
                </div>
            </div>
            <div class="col-md pt-2 mt-2">
                <div class="card ">
                    <div class="card-img-top">
                        <div class="row">
                            <div class="col">
                                <div class="modal-body-preview">
                                    <img src="{{ series.get_current_match_player1_url(players) }}" class="img-fluid"
                                         alt=" {{ series.current_match_player1_name }} ({{ series.current_match_player1_rank }})"/>
                                    <div class="round-image-gradient"></div>
                                    <div class="preview-name-container small font-weight-bold text-white">
                                        {{ series.current_match_player1_name }} ({{ series.current_match_player1_rank }})
                                    </div>
                                </div>

                            </div>
                            <div class="col">
                                <div class="modal-body-preview">
                                    <img src="{{ series.get_current_match_player2_url(players) }}" class="img-fluid"
                                         alt="{{ series.current_match_player2_name }} ({{ series.current_match_player2_rank }})"/>
                                    <div class="round-image-gradient"></div>
                                    <div class="preview-name-container small font-weight-bold text-white">
                                        {{ series.current_match_player2_name }} ({{ series.current_match_player2_rank }})
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body pb-2">
                        <p class="fw-bold h1 mb-2">{{ series.group1_score }} : {{ series.group2_score }}</p>
                    </div>

                    <div class="card-body d-flex justify-content-around ">
                    <span>
                        <i class="fas fa-futbol me-2 text-muted"></i>
                        <strong class="me-1 text-muted">{{ series.match_identity }}</strong>
                    </span>
                        <span>
                        <i class="fas fa-hand-peace me-2 text-muted"></i>
                        <strong class="me-1 text-muted">Game {{ series.game_number }} of {{ series.total_games }}</strong>
                    </span>
                    </div>
                    <hr class="hr mb-2">
                    <div class="card-body d-flex justify-content-around py-6">
                        <button onclick="selectPlayer('{{ series.current_match_player1_name }}')"
                                class="btn btn-success btn-floating" type="button">
                            <i class="fas fa-caret-left  fa-lg text-white"></i>
                        </button>
                        <a class="btn btn-primary btn-floating"
                           href="{{ url_for("super_cup.view_season",  season=series.season) }}">
                            <i class="fas fa-people-arrows fa-lg text-white"></i>
                        </a>
                        <button onclick="selectPlayer('{{ series.current_match_player2_name }}')"
                                class="btn btn-success btn-floating" type="button">
                            <i class="fas fa-caret-right fa-lg text-white"></i>
                        </button>
                    </div>
                    <form id="selectForm" method="POST" novalidate>
                        {{ form.csrf_token() }}
                        {{ form.winner }}
                    </form>

                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <!--suppress JSUnresolvedVariable -->
    <script>
        selectPlayer = (winner) => {
            const form = document.forms["selectForm"];
            form.winner.value = winner;
            form.submit();
        }
    </script>
{% endblock %}